.git
target
**/target
**/.cargo

models
**/models
artifacts
datasets
uploads
media
out.wav

**/*.onnx
**/*.pt
**/*.bin
**/*.ckpt
**/*.safetensors
**/*.zip
**/*.tar
**/*.tar.gz
**/*.mp3
**/*.wav

.env
.env.*
.DS_Store
.idea
.vscode
